.home {
    .notice-tips {
        height: 35px;
        line-height: 35px;
        font-size: 14px;
        background-color: #fff;
        margin-bottom: 10px;

        .important-notice {
            p {
                @include clear;
                width: 100%;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                span {
                    @include float;
                    color: $red;
                    width: 90px;
                }

                li {
                    display: inline-block;
                    margin-right: 10px;
                }

                a {
                    color: $gray;
                }
            }
        }
    }

    .home-left {
        @include float;
        width: 620px;
    }

    .home-search {
        margin-bottom: 10px;

        .el-select .el-input {
            width: 130px;
        }

        .input-with-select .el-input-group__prepend {
            background-color: #fff;
        }
    }

    .menu {
        position: relative;
        min-height: 280px;
        width: 619px;
        border-radius: 2px;

        &:after {
            content: "";
            width: 150px;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: -1;
            background-color: #3C61B4;
        }

        .menu-item {
            @include clear;
        }

        .menu-left {
            @include float;
            height: 49px;
            line-height: 50px;
            width: 150px;
            background-color: #3C61B4;
            color: #fff;
            border-bottom: 1px solid #DCE4F6;
            font-size: 14px;
            text-indent: 10px;
            cursor: pointer;

            &.active {
                color: #3C61B4;
                background-color: #fff;
            }

            &.menu-title {
                text-indent: 5px;

                i {
                    font-size: 24px;
                }

                font-size: 18px;
            }
        }

        .menu-right {
            display: none;
            @include float;
            position: absolute;
            left: 150px;
            top: 0;
            bottom: 0;
            right: 0;
            padding: 20px;
            background-color: #fff;
            overflow: auto;
            border: 1px solid $line;
            border-left: none;

            &.active {
                display: block;
                z-index: 2;
            }

            dl {
                width: 100%;
                @include clear;
                line-height: 26px;
                padding: 10px 0;
                border-bottom: 1px solid $line;

                dd {
                    @include float;
                    width: 100px;
                    position: relative;
                    cursor: pointer;
                }

                dt {
                    @include float;
                    width: calc(100% - 100px);

                    span {
                        cursor: pointer;
                        margin: 2px 5px 2px 0;
                    }
                }
            }

            .el-icon-arrow-right {
                position: absolute;
                right: 10px;
                top: 5px;
            }
        }
    }

    .home-right {
        @include float;
        width: 560px;
        margin-left: 20px;

        .tab-box {
            min-height: 280px;
            background-color: #fff;
            border: 1px solid $line;
            position: relative;

            .notice-list-item {
                height: 40px;
                line-height: 40px;
                border-top: 1px solid #e3eaf6;
                font-size: 14px;
                margin: auto 20px;

                &:first-child {
                    border-top: none;
                }

                &::before {
                    font-family: "icon" !important;
                    font-size: 14px;
                    font-style: normal;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    content: '\e6f0';
                    margin: auto 10px;
                }

                .notice-list-item-link {
                    font-size: 14px;
                    color: #333333;
                }

                .time {
                    float: right;
                }
            }

            .notice-list-more {
                position: absolute;
                bottom: 10px;
                right: 25px;
                float: right;
                color: #3C61B4;
            }

        }
    }

    .notice-list-item {
        height: 40px;
        line-height: 40px;
        border-top: 1px solid #e3eaf6;
        font-size: 14px;

        &:first-child {
            border-top: none;
        }

        &::before {
            content: '\e607';
            margin: auto 10px;
        }

        .notice-list-item-link {
            font-size: 14px;
            color: #333333;
        }

        .time {
            float: right;
        }
    }

    .notice-list-more {
        position: absolute;
        bottom: 10px;
        right: 25px;
        float: right;
        color: #3C61B4;
    }


}

.info {
    @include clear;
    padding-top: 20px;

    .rank {
        width: 278px;
        overflow: hidden;
        @include float;
        width: 278px;
        margin-right: 20px;
    }

    .sidebar {
        @include float;
        width: 278px;
        padding: 20px;
        margin-bottom: 20px;
        box-sizing: border-box;
        border: 1px solid $line;
        background-color: #fff;

        h2 {
            font-size: 18px;
        }

        .rank-list {
            @include clear;
            margin-top: 20px;

            p {
                line-height: 20px;

                &.title {
                    font-size: 14px;
                    font-weight: bold;
                }

                span {
                    color: #CCCCCC;
                    display: inline-block;
                    margin-right: 10px;
                }
            }

            dd,
            dt {
                @include float;
            }

            dd {
                width: 110px;
                margin-right: 10px;

                img {
                    width: 110px;
                    height: 110px;
                }
            }

            dt {
                width: 115px;
            }
        }
    }

    .info-box {
        @include float;
        width: 860px;

        .search-box {
            margin-top: 10px;
            width: 100%;

            .search-title {
                color: #FFF;
                height: 40px;
                background: rgba(60, 97, 180, 1);
                border: 1px solid rgba(238, 238, 238, 1);
                border-radius: 2px 2px 0px 0px;
                padding: 10px;
                box-sizing: border-box;
            }

            .search-content {
                background-color: #FFF;
                
                .tab-box {
                    min-height: 305px;
                    background-color: #fff;
                    border: 1px solid $line;
                    position: relative;
                    border: 1px solid red;

                    .table-content-wrap {
                        padding: 0px 35px;

                        h3 {
                            line-height: 30px;
                            font-weight: bolder;
                            font-size: 14px;
                        }
                    }

                    .book-info {
                        li {
                            border-bottom: 1px solid #CCCCCC;
                            line-height: 40px;
                            overflow: hidden;
                            margin: auto 30px;
                            color: #CCCCCC;

                            div {
                                float: left;

                                &:first-child {
                                    width: 100px;
                                }

                                &.right {
                                    clear: right;
                                }
                            }
                        }
                    }

                    .carousel {
                        width: 320px;
                        margin: 60px auto;
                        overflow: hidden;
                    }

                    .book-img-container {}

                    .el-carousel__container {
                        // height: 200px;
                        // width: 360px;

                        img {
                            width: 320px;
                            height: 300px;
                        }
                    }
                }

                >ul>li {
                    border-bottom: 1px dotted #999999;
                    box-sizing: border-box;
                    padding: 10px;

                    &:last-child {
                        border-bottom: none
                    }

                    overflow: hidden;
                }

                .search-content-box {
                    .item-title {
                        display: inline-block;
                        width: 60px;
                    }

                    .item-content {
                        display: inline-block;
                        width: calc(100% - 160px);
                        box-sizing: border-box;
                    }

                    .item-bottom {
                        width: 90px;
                        box-sizing: border-box;
                        text-align: center;
                    }

                    span {
                        padding: 10px 15px;

                        &.activeColor {
                            color: #3C61B4;
                        }

                        &.button {
                            cursor: pointer;
                            display: inline-block;
                        }
                    }


                    .multipl-select-btn {
                        font-size: 10px;
                        padding: 5px 8px;

                        span {
                            padding: 5px 8px;
                        }
                    }

                    .button-bg-search {
                        background: #3C61B4;
                        border-radius: 2px;
                        color: #fff;
                        width: 70px;
                        height: 33px;
                        padding: 0px;
                        float: right;
                        margin-right: 10px;

                        span {
                            padding: 3px 5px;
                        }
                    }

                    .title {
                        color: #999999;
                    }

                    .remove-btn {
                        color: #3C61B4;
                    }

                    li {
                        display: inline-block;

                        .el-input {
                            width: 175px;
                            height: 30px;

                            .el-input__inner {
                                height: 30px;
                            }
                        }

                        .right {}
                    }

                }

                .type {
                    margin: 0px 11px;
                    border-left: 1px solid rgba(60, 97, 180, 1);
                    overflow: hidden;

                    .type-item {
                        cursor: pointer;
                        float: left;
                        font-size: 12px;
                        color: #83A0E4;
                        width: 271px;
                        height: 39px;
                        line-height: 39px;
                        text-align: center;
                        position: relative;
                        z-index: 1;
                        background: rgba(221, 234, 255, 0);
                        border-right: 1px solid rgba(60, 97, 180, 1);
                        border-bottom: 1px solid rgba(60, 97, 180, 1);

                        &:nth-child(-n + 3) {
                            border-top: 1px solid rgba(60, 97, 180, 1);
                        }

                        &:first-child {
                            background-color: #DDEAFF;
                            border-bottom-color: transparent;
                        }
                    }

                    .type-item-content {
                        font-size: 12px;
                        float: left;
                        width: calc(100% - 1px);
                        padding: 5px 20px;
                        box-sizing: border-box;
                        border-right: 1px solid rgba(60, 97, 180, 1);
                        border-bottom: 1px solid rgba(60, 97, 180, 1);
                        background-color: #DDEAFF;

                        &:last-child {
                            border-top: 1px solid rgba(60, 97, 180, 1);
                            margin-top: -1px;
                        }
                    }
                }

                .book-info-top {

                    @include clear;

                    p {
                        line-height: 30px;

                        &.title {
                            font-size: 14px;
                            font-weight: bold;
                        }

                        span {
                            color: #CCCCCC;
                            display: inline-block;
                            margin-right: 10px;
                            width: 130px;
                        }
                    }
                    
                    .dialog-footer {
                        p {
                            padding-right: 100px;
                            span {
                                display: inline;
                                color: #E71E1E;
                                margin: 0px;
                            }
                        }
                        .btn-center {
                            text-align: center;
                        }
                    }

                    dd,
                    dt {
                        @include float;
                    }

                    >dd {
                        width: 400px;
                        margin: 24px 37px 38px 20px;

                        img {
                            width: 400px;
                            height: 300px;
                        }
                    }

                    >dt {
                        width: 400px;
                        min-height: 330px;
                        margin-top: 19px;
                        font-size: 14px;
                        position: relative;

                        .handle-btn-wrap {
                            position: absolute;
                            bottom: 30px;

                            .virtual-shop-btn {
                                background: #3C61B4;
                            }

                            i {
                                cursor: pointer;
                                color: #3C61B4;
                                margin: 0px 20px;
                            }
                        }
                    }

                    .dialog-grid-table-data {
                        .bookInfoWrapper {
                            img {
                                width: 100px;
                                height: 100px;
                            }
                        }
                    }
                }

                .book-info-tab {
                    border-color: transparent;
                    box-sizing: border-box;
                    margin: 0px 20px;

                    .el-tabs__nav {
                        border: none;

                        .el-tabs__item {
                            &:first-child {
                                border-left: 1px solid #E4E7ED;
                            }
                        }
                    }
                }
            }

        }

        .search-card {
            width: 100%;
            background-color: #F3F3F3;
            border-radius: 2px;
            margin: 10px 0px;
            padding: 5px 10px;
            font-size: 0px;
            box-sizing: border-box;

            * {
                font-size: 12px;
            }

            >span {
                display: inline-block;
                padding: 10px 20px;
                margin: 0px;
                background-color: #fff;
                color: #999999;
                cursor: pointer;

                &.primary {
                    background-color: #1943A2;
                    color: #ffffff;
                    font-size: 14px;
                }
            }

            .el-button {
                margin: 0px;
                border: none;
            }

            .desc {
                float: right;
                padding: 9px 10px;

                span {
                    color: #83A0E4;
                }
            }
        }

        .info-list {
            display: inline-block;
            margin: 0px 19px 10px auto;
            background-color: #F3F3F3;
            width: 200px;
            border-radius: 2px;

            &:nth-child(4n+1) {
                margin-right: 0px;
            }

            img {
                width: 200px;
                height: 169px;
                border-radius: 2px 2px 0px 0px;
            }

            dt {
                border-radius: 0px 0px 2px 2px;
                min-height: 106px;
                padding-left: 13px;

                p {
                    line-height: 25px;
                    font-size: 14px;

                    &.price span {
                        font-size: 18px;
                        font-weight: bolder;
                        color: #E71E1E;
                    }
                }
            }
        }

        .pagination {
            text-align: center;
        }
    }
}